@import url("../fonts/fonts.css");
body {
  margin: 0;
}

.container {
  width: 1920px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1024px;
  padding: 40px;
}

.header_top {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1170px;
}

.header_top_logo {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  fill: white;
  font-family: 'raleway';
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.header_top_logo:hover {
  color: #c7b299;
  fill: #c7b299;
}

.header_top_logo:active {
  color: white;
  fill: white;
}

.header_top_wrapper {
  width: 775px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top_wrapper_nav {
  font-family: 'montserrat';
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 640px;
}

.header_top_wrapper_nav_item {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.header_top_wrapper_nav_item:hover {
  color: #c7b299;
}

.header_top_wrapper_nav_item:active {
  color: white;
}

.header_top_wrapper_btns {
  width: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  fill: white;
  position: relative;
}

.header_top_wrapper_btns_btn {
  border: none;
  outline: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

.header_top_wrapper_btns_btn:hover {
  fill: #c7b299;
}

.header_top_wrapper_btns_btn:active {
  fill: white;
}

.header_top_wrapper_btns_search {
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
  background-image: url(../img/icon_search.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0);
}

.header_top_wrapper_btns_search:hover {
  background-image: url(../img/icon_search-act.svg);
}

.header_top_wrapper_btns_search:focus {
  position: absolute;
  top: 36px;
  left: -729px;
  color: #c7b299;
  width: 720px;
  -webkit-transition: width 1s ease-out;
  transition: width 1s ease-out;
  background-position: right;
  margin-left: 28px;
  border: 1px solid rgba(199, 178, 153, 0.5);
  background-image: url(../img/icon_search-act.svg);
  border-radius: 10px;
  padding: 0 10px;
}

.header_bottom {
  min-height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_bottom_carousel {
  width: 1620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_bottom_carousel_btn {
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  fill: #d3c1ad;
  opacity: 0.5;
}

.header_bottom_carousel_btn:hover {
  opacity: 1;
}

.header_bottom_carousel_btn:active {
  opacity: 0.5;
}

.header_bottom_carousel_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: 'raleway';
}

.header_bottom_carousel_info_heading-mini {
  margin: 0;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
}

.header_bottom_carousel_info_heading {
  margin: 14px 0 20px;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
}

.header_bottom_carousel_info_txt {
  margin: 0 0 52px;
  width: 600px;
  font-family: 'montserrat';
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.header_bottom_carousel_info_btn {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 54px;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  width: 170px;
  background-color: #998675;
  border-radius: 3px;
}

.header_bottom_carousel_info_btn:hover {
  opacity: 0.5;
}

.header_bottom_carousel_info_btn:active {
  opacity: 1;
}

.header_bottom_pagination {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_bottom_pagination_item {
  width: 11px;
  height: 11px;
  background-color: #9C9A9A;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header_bottom_pagination_item:hover {
  background-color: transparent;
  border: 2px solid #c7b299;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 80px 380px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cards_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  color: #555555;
  fill: #555555;
  text-decoration: none;
}

.cards_card_heading {
  margin: 30px 0 20px;
  text-transform: capitalize;
  font-family: 'raleway';
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
}

.cards_card_txt {
  margin: 0;
  text-align: center;
  font-family: 'montserrat';
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}

.cards_card_line {
  margin-top: 30px;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}

.cards_card:hover {
  fill: #c7b299;
}

.cards_card:hover .cards_card_heading {
  color: #c7b299;
}

.cards_card:hover .cards_card_line {
  background-color: #c7b299;
}

.cards_card:active {
  fill: #555555;
}

.cards_card:active .cards_card_heading {
  color: #555555;
}

.cards_card:active .cards_card_line {
  background-color: #f1eee9;
}
/*# sourceMappingURL=style.css.map */